<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>テンプレート</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header>
		<div>
			<h1></h1>
			<p>ID:suzuki@-ac.jp</p>
		</div>
	</header>
	<article>
		<h2>登録講座内容の変更</h2>
		<div class="change center-area">
			<div class="image-button-wrapper">
				<img th:if="${lesson.imageName != null}" th:src="@{'/lesson-image/' + ${lesson.imageName}}" alt="講座画像"
					width="300">


				<div class="change-button">
					<button th:attr="onClick='location.href=\''+'/admin/lesson/image/edit/'+${lesson.lessonId}+'\''">
						画像を変更
					</button>
				</div>
			</div>
			<form th:action="@{/admin/lesson/edit/update}" th:object="${lesson}" method="post">
				<table class="change_table">
					<tr>
						<th>開始日</th>
						<td><input type="date" th:field="*{startDate}" /></td>
					</tr>
					<tr>
						<th>受講開始時間</th>
						<td><input type="time" th:field="*{startTime}" /></td>
					</tr>
					<tr>
						<th>受講終了時間</th>
						<td><input type="time" th:field="*{finishTime}" /></td>
					</tr>
					<tr>
						<th>講座名</th>
						<td><input type="text" th:field="*{lessonName}" required /></td>
					</tr>
					<tr>
						<th>講座内容</th>
						<td><textarea th:field="*{lessonDetail}" cols="30" rows="5" required></textarea></td>
					</tr>
					<tr>
						<th>受講料</th>
						<td><input type="text" th:field="*{lessonFee}" required /></td>
					</tr>
				</table>

				<!-- 隠しフィールド -->
				<input type="hidden" th:field="*{lessonId}" />
				<input type="hidden" th:field="*{imageName}" />
				<input type="hidden" th:field="*{registerDate}" />
				<input type="hidden" th:field="*{adminId}" />

				<div class="change-button">
					<button type="button" onclick="history.back();">戻る</button>
					<button type="submit">変更</button>
				</div>
			</form>

			　　　　
		</div>
	</article>
	<footer><small>Copyright &copy; Akros Web & Business Design Academy All rights reserved.</small></footer>
</body>

</html>